<div class="container">
  <div>
    <span>Title: </span>
    <input type="text" name="title" [(ngModel)]="Todo.Title" />
  </div>
  <br />
  <div>
    <span>Group: </span>
    <span *ngIf="Todo.Group != ''">{{Todo.Group}}</span>
    <span *ngIf="Todo.Group == ''">None</span>
  </div>
  <br/>
  <div>
    <span>Description: </span
    ><textarea rows="30"
      name="description"
      [(ngModel)]="Todo.Description"
    ></textarea>
  </div>
  <br />
  <div>
    <span>Completed: </span>
    <input type="checkbox" name="state" [(ngModel)]="Todo.State" />
  </div>
  <br />
  <span *ngIf="!TitleEntered">Please fill out the title!</span><br />
  <button (click)="Update()">Update Todo</button>
  <button (click)="Remove()">Remove Todo</button>
</div>
