div {
  width: 100%;
  text-align: center;
}

div ul {
  margin: 0 auto;
}


div ul li {
  list-style: none;
  width: 100%;
  background-color: teal;
  border-bottom: 2px solid white;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  color: white;
}

div ul li span {
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.finished {
  text-decoration: line-through;
}

.spanRemove {
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  right: 0;
  cursor: pointer;
  margin-right: 5%;
  color: red;
}

.pTitle {
  display: inline;
}


@media screen and (max-width:500px)
{
  div ul li {
    font-size: 16px;
    font-weight: bold;
  }
  div ul li span {
    float: left;
    margin-left: 10%;
  }
  .spanRemove {
    font-size: 14px;
    font-weight: normal;
    color: red;
  }
}