div {
  width: 100%;
  background-color: teal;
}

div div {
  position: relative;
}

input {
  display: inline-block;
  width: 100%;
  font-size: 24px;
  border: none;
}

input[type='checkBox'] {
  width: 10%;
  display: inline-block;
}
textarea {
  vertical-align: top;
  display: inline-block;
  border: none;
  resize: none;
  width: 100%;
  height: 10em;
}

span {
  display: inline-block;
  width: 15%;
  color: white;
  font-size: 24px;
  margin: 0 auto;
}

button {
  margin-bottom: 50px;
}


@media screen and (max-width: 650px) {
  div {
    padding-top: 5%;
  }
  span {
    display: inline;
    font-size: 16px;
    margin-left: 2%;
  }
  input[type='checkBox']
  {
    width: 50%;
  }
}
