<div>
  <div>
    <span>Title: </span>
    <input type="text" name="title" [(ngModel)]="TodoObject['Title']" />
  </div>
  <br />
  <div>
    <span>Description: </span
    ><textarea rows="30"
      name="description"
      [(ngModel)]="TodoObject['Description']"
    ></textarea>
  </div>
  <br />
  <div>
    <span>Finished: </span>
    <input type="checkbox" name="state" [(ngModel)]="TodoObject['State']" />
  </div>
  <br />
  <span *ngIf="!TitleEntered">Please fill out the title!</span><br />
  <button (click)="Update()">Update</button>
  <button (click)="Remove()">Remove</button>
</div>
