.Completed {
  text-decoration: line-through;
}

.spanRemove {
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  right: 0;
  cursor: pointer;
  margin-right: 2%;
  color: red;
}

.pTitle {
  display: inline;
  cursor: pointer;
}
