div {
  width: 100%;
  height: 85px;
  background-color: aquamarine;
  text-align: center;
}

div span {
  margin-left: 5%;
  margin-right: 5%;
}

div span a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 24px;
  line-height: 85px;
  margin: 0 auto;
}

@media screen and (max-width:650px)
{
  div span {
    margin-left: 1%;
    margin-right: 1%;
  }
  div span a {
    font-size: 16px;
  }
}
